header{
    background-image: url(../../assets/image/pexels-photo-4992637.jpeg);
    background-position: center center;
    background-size: cover;
}
.container{
    position: absolute;
    top: 45%;
    left: 5%;
}